<table class="table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Date of birth</th>
      <th>Remove Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let animal of animals">
      <td>{{animal.Species}}</td>
      <td>{{animal.Name}}</td>
      <td *ngIf="!animal.DateOfBirth">Unknown</td>
      <td *ngIf="animal.DateOfBirth">{{animal.DateOfBirth}}</td>
      <td>
        <button (click)="removeAnimal(animal)">
          Remove
        </button>
      </td>
      
    </tr>

  </tbody>
</table>